<div class="search-container d-flex flex-row">
	<partial name="_LoginPartial" />
	<form asp-area="" asp-controller="Home" asp-action="Privacy">
		<i class="fa fa-search"></i>
		<input type="text" placeholder="Поиск" name="search">
	</form>
</div>
