@model MyNetwork.ViewModels.Account.UserViewModel


<h1>View</h1>

<div>
    <h4>UserViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.User.FirstName">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
