@using Microsoft.AspNetCore.Identity;
@using MyNetwork.Models.Users;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model MyNetwork.ViewModels.Account.MainViewModel


@{
    ViewData["Title"] = "UserView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View</h1>

<div>
    <h4>UserViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserView.Username)
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UserView.Username">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
